*,
::before,
::after {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  font-family: Raleway, sans-serif;
  height: 100vh;
  background: #222;
}

.info-section {
  color: #f1f1f1;
  text-align: center;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 50px;
  margin-bottom: 100px;
}
.section-flex {
  padding-bottom: 400px;
}

/* Exemples flex */

.container-flex  {
  width: 800px;
  height: 500px;
  margin: 150px auto;
  background: #ffcb9a;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  
  
}
.a2{
  flex-grow: 5;
}


.item-flex {  
  background: crimson;
  width: 150px;
  height: 150px;
  margin: 5px;
  
}


/* Exemple #1 */




/* Exemple #2 */
.containerB {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.b1{
 flex-basis: 350px;
}
.b2{
  flex-basis: 350px;
}
.b3{
  flex-basis: 710px;
}
.b4{
  flex-basis: 350px;
}
.b5{
  flex-basis: 350px;
}


/* Exemple #3 */

.containerC {
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 25px;
  
}
.c1,.c2,.c3,.c4,.c5,.c6{
  /* width: 600px; */
  flex-basis: 600px;
  height: 75px;
}





/* Exemple #4 */
.containerD {
  height: 460px;
  width: 600px;
  display: flex;
}
.containerD .item-flex {
  width: 150px;
  height: 150px;
}


